<%= render "shared/header" %>
<div class="mypage-wrap">
  <div class="mypage-container">
    <div class="mypage-side">
      <nav class="mypage-nav">
        <ul class="mypage-nav-list">
          <li>
            <a href=user_path(current_user.id), class="mypage-link">マイページ<span class="material-icons" id="mypage-icon">navigate_next</span></a>
          </li>
          <li>
            <a href=user_path(current_user.id), class="mypage-link">出品一覧<span class="material-icons" id="mypage-icon">navigate_next</span></a>
          </li>
        <li>
            <a href=user_path(current_user.id), class="mypage-link">取引履歴<span class="material-icons" id="mypage-icon">navigate_next</span></a>
          </li>
          <li>
            <a href=user_path(current_user.id), class="mypage-link">お気に入り<span class="material-icons" id="mypage-icon">navigate_next</span></a>
          </li>
          <li>
            <a href=user_path(current_user.id), class="mypage-link">メッセージ<span class="material-icons" id="mypage-icon">navigate_next</span></a>
          </li>
          <li>
            <a href=user_path(current_user.id), class="mypage-link">クレジットカード<span class="material-icons" id="mypage-icon">navigate_next</span></a>
          </li>
          <li>
            <a href=user_path(current_user.id), class="mypage-link">お届け先住所<span class="material-icons" id="mypage-icon">navigate_next</span></a>
          </li>
          <li>
            <a href="edit", class="mypage-link">ログイン情報<span class="material-icons" id="mypage-icon">navigate_next</span></a>
          </li>
        </ul>
      </nav>
    </div>
    <div class='mypage-main'>  
      <div class='form-header'>
        <h1 class='form-header-text'>
          ログイン情報を編集する
        </h1>
      </div>
    <%= form_with model: @user, url: user_registration_path, class: 'registration-mains', method: :put, local: true do |f| %>

      <%= render 'shared/error_messages', model: f.object %>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">メールアドレス</label>
        </div>
        <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
      </div>

      <% if devise_mapping.confirmable? && @user.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= @user.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">現在のパスワード</label>
        </div>
        <%= f.password_field :current_password, class:"input-default", autocomplete: "current-password", placeholder:"現在のパスワードを入力して下さい" %>
      </div>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">新しいパスワード</label>
        </div>
        <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
      </div>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">パスワード(確認)</label>
        </div>
        <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
      </div>
      
      <div class="update-btn">
        <%= f.submit "変更する", class:"register-red-btn" %>
      </div>
    <% end %>

    </div>

  </div>
</div>
<%= render "shared/footer" %>