<div class="mypage-wrap">
<% if @user.id == current_user.id %>
  <div class="mypage-container">
    <%= render "shared/mypage_side" %>
    <div class='mypage-main' id="mypage-modal"> 
      <div class='form-header'>
        <h1 class='form-header-text'>
          マイページ
        </h1>
      </div>
      <div class="profile-avatar">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar, class:'profile-image' %>
      <% else %>
        <img src='/images/profile_icon.png', class='profile-image' %>
      <% end %>
      </div>
      <div class="edit-btn">
        <%= link_to "変更する", edit_user_path(current_user.id), class:"edit-avatar-btn" %>
      </div>
      <div class='my-information'>
        <div class="my-information-group">
          <div class='my-text-wrap'>ニックネーム:</div>
          <div class="my-information-value"><%= @user.nickname %></div>
        </div>
        <div class="my-information-group">
          <div class='my-text-wrap'>お名前:</div>
          <div class="my-information-value"><%= @user.family_name %><%= @user.first_name %></div>
        </div>
        <div class="my-information-group">
          <div class='my-text-wrap'>お名前カナ:</div>
          <div class="my-information-value"><%= @user.family_name_kana %><%= @user.first_name_kana %></div>
        </div>
        <div class="my-information-group">
          <div class='my-text-wrap'>生年月日:</div>
          <div class="my-information-value"><%= @user.birth_date %></div>
        </div>
      </div>
    </div>
    <%= render "shared/item_list" %>
  </div>
<% else %>
  <div class="mypage-container">
    <div class='another-page-main'> 
      <div class='form-header'>
        <h1 class='form-header-text'>
          <%= @user.nickname + "さんのページ" %>
        </h1>
      </div>
      <div class="profile-avatar">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar, class:'profile-image' %>
      <% else %>
        <img src='/images/profile_icon.png', class='profile-image' %>
      <% end %>
      </div>
      <div class="mypage-dm">
          <% if @isRoom == true %>
            <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="dm-btn">メッセージを送る</a>
          <% else %>
            <%= form_with model: @room, url: rooms_path, local: true do |f| %>
              <%= fields_for @entry do |e| %>
                <%= e.hidden_field :user_id, value: @user.id %>
              <% end %>
              <%= f.submit "メッセージを送る", class:"dm-btn"%>
            <% end %>
          <% end %>
      </div>
      <div class="user-item">
      <h2>出品アイテム</h2>
      </div>
      <%= render 'shared/pickup-list' %>
    </div>
  </div>
<% end %>
</div>