<header>
  <div class="header-inner">
    <div class="header-seach">
      <%= form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |f|%>
        <%= f.text_field :keyword, placeholder: "キャンプ用品名・キーワード", class: "search-input" %>
        <%= f.submit "検索する", class: "search-btn" %>
      <% end %>
    </div>
    <div class="clear"></div>
    <h1 class="logo"><%= link_to 'CAMP BOX', root_path, class: "logo-title" %></h1>
    <div class="header-menu">
      <ul class="lists-right">
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li>
        <li><%= link_to '出品する', "/items/new", class: "lend-item" %></li>
      <% end %>
        <span class="material-icons" id="open">menu</span>
      </ul>
    </div>
    <div class="overlay">
      <nav>
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete,  class: "logout" %></li>
            <li><%= link_to 'ヘルプ', "#", class: "logout" %></li>
          <% else %>
            <li class="logout" id="open-registration">会員登録</li>
            <li class="logout" id="open-session">ログイン</li>
            <li><%= link_to 'ヘルプ', "#", class: "logout" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>