    <div class="pickup-list">
      <ul>
        <% @items.each do |item| %>
          <li class="list">
            <%= link_to item_path(item.id) do %>
              <div class="item-img-content">
                <%= image_tag item.image, class: "item-img" %>
              </div>
              <div class="item-info">
                <div class="item-name">
                  <%= item.name %>
                </div>
                <div class="item-lower">
                  <div class="item-price">
                    <span>¥</span><%= item.price %><span class="stay">/1泊</span>
                  </div>
                  <div class="like-item" id="favorite-buttons<%= item.id %>">
                    <%= render partial: 'favorites/favorite', locals: { item: item } %>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
        <%end%>
      </ul>
    </div>