<div class='form-wrap hidden' id="select-modal">
  <div class='form-header'>
    <h1 class='form-header-text'>
      会員登録
    </h1>
  </div>
  <ul class="sns-credential" id="email-registration">
    <li><img src="images/email.png" alt="logo" width="30px" height="30px"　align="middle"></li>
    <li class="sns-btn">メールアドレスで登録</li>
  </ul>
  <ul class="sns-credential">
    <li><img src="images/facebook.png" alt="logo" width="30px" height="30px"　align="middle"></li>
    <li><%= link_to 'Facebookで登録', user_facebook_omniauth_authorize_path, method: :post, class:"sns-btn"%></li>
  </ul>
  <ul class="sns-credential">
    <li><img src="images/google.png" alt="logo" width="30px" height="30px"　align="middle"></li>
    <li><%= link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, method: :post, class:"sns-btn"%></li>
  </ul>
</div>


<div id="mask" class="hidden"></div>

<div class='form-wrap hidden' id="new-modal">
  <%= form_with model: @user, url: user_registration_path, class: 'registration-mains', local: true do |f| %>
  <div class='form-header'>
    <h1 class='form-header-text'>
      会員情報入力
    </h1>
  </div>
  
  <%= render 'shared/error_messages', model: f.object %>
 
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">ニックネーム</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) camp太郎", maxlength:"40" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">メールアドレス</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
  </div>
  <%if @sns_id.present? %>
  <%= hidden_field_tag :sns_auth, true %>
  <% else %>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
    <p class='info-text'>※英字と数字の両方を含めて設定してください</p>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード(確認)</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
  </div>
  <% end %>
  <div class="form-group">
    <p class='form-info-header'>
      本人確認
    </p>
    <p class='form-info-text'>
      安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
    </p>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">お名前(全角)</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_area :family_name, class:"input-name", id:"last-name", placeholder:"例) 山田" %>
      <%= f.text_area :first_name, class:"input-name", id:"first-name", placeholder:"例) 太郎" %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">お名前カナ(全角)</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_area :family_name_kana, class:"input-name", id:"last-name-kana", placeholder:"例) ヤマダ" %>
      <%= f.text_area :first_name_kana, class:"input-name", id:"first-name-kana", placeholder:"例) タロウ" %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">生年月日</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-birth-wrap'>
      <%= raw sprintf(
                  f.date_select(
                    :birth_date,
                    class:'select-birth',
                    id:"birth-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 1930,
                    end_year: (Time.now.year - 5),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
    </div>
    <p class='info-text'>※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。</p>
  </div>
  <div class="form-group">
    <h2 class='form-bottom-text'>
      登録すると、
      <span>利用規約</span>
      に同意したことになります。
    </h2>
  </div>
  <div class='register-btn'>
    <%= f.submit "会員登録" ,class:"register-red-btn" %>
  </div>
  <% end %>
</div>

<%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>
<div class='form-wrap hidden' id="session-modal">
  <div class='form-header'>
    <h1 class='form-header-text'>
      会員情報入力
    </h1>
  </div>
  <div class='login-flash-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">メールアドレス</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"" %>
  </div>
  <div class='login-btn'>
    <%= f.submit "ログイン" ,class:"login-red-btn" %>
  </div>
  <div class="or">
  <span class="">or</span>
  </div>
  <ul class="sns-credential">
    <li><img src="images/facebook.png" alt="logo" width="30px" height="30px"　align="middle"></li>
    <li><%= link_to 'Facebookでログイン', user_facebook_omniauth_authorize_path, method: :post, class:"sns-btn"%></li>
  </ul>
  <ul class="sns-credential">
    <li><img src="images/google.png" alt="logo" width="30px" height="30px"　align="middle"></li>
    <li><%= link_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path, method: :post, class:"sns-btn"%></li>
  </ul>
</div>
<% end %>


<%# メイン画像 %>
<section class="main-visual">
  <div class="main-image"></div>
</section>
<%# メイン画像 %>

<section class="about">
  <div class="about-inner">
    <h2 class="about-title">
    CAMP BOX とは？
    </h2>
    <div class="about-image">
      <img src="/images/campbox.jpg" class="description-image">
    </div>
    <p class="about-text">
      「CAMP BOX」はキャンプ用品のシェアリングサービスです。<br>
      「キャンプ用品買ったけど、年に数回しか使わない。」<br>
      「キャンプに行きたいけど、キャンプ用品を揃えるにはお金がかかる。」<br>
      「買いたい商品を一度試してみたい。」<br>
      そんな悩みを一気に解決できるのが「CAMP BOX」です。<br>
      もっと気軽にキャンプを楽しめるサービスを実現します。
    </p>
  </div>
</section>


<div class="main-item">
  <div class="main-left">
    <div class="pickup">
      <h2>注目のアイテム</h2>
    </div>
    <div class="pickup-list">
      <ul>
        <% @items.each do |item| %>
          <li class="list">
            <%= link_to item_path(item.id) do %>
              <div class="item-img-content">
                <%= image_tag item.image, class: "item-img" %>
              </div>
              <div class="item-info">
                <h2 class="item-name">
                  <%= item.name %>
                </h2>
                <div class="item-price">
                  <span>¥</span><%= item.price %><span class="stay">/1泊</span>
                </div>
              </div>
            <% end %>
          </li>
        <%end%>
      </ul>
    </div>
  </div>
  <div class="main-right">
    <div class="item-category">
      <h2>キャンプ用品一覧</h2>
      <ul>
       <li class="category-list">
          <%= link_to '/items/divide?category_id=2', class:"category-link" do %>
          <div class="category-link">テント</div>
          <% end %>
        </li>
        <li class="category-list">
          <%= link_to '/items/divide?category_id=3' do %>
          <div class="category-link">タープ</div>
          <% end %>
        </li>
        <li class="category-list">
          <%= link_to '/items/divide?category_id=4' do %>
          <div class="category-link">シェラフ・寝具</div>
          <% end %>
        </li>
        <li class="category-list">
          <%= link_to '/items/divide?category_id=5' do %>
          <div class="category-link">テーブル</div>
          <% end %>
        </li>
        <li class="category-list">
          <%= link_to '/items/divide?category_id=6' do %>
          <div class="category-link">チェア</div>
          <% end %>
        </li>
        <li class="category-list">
          <%= link_to '/items/divide?category_id=7' do %>
          <div class="category-link">ランタン・照明器具</div>
          <% end %>
        </li>
        <li class="category-list">
          <%= link_to '/items/divide?category_id=8' do %>
          <div class="category-link">調理道具</div>
          <% end %>
        </li>
        <li class="category-list">
          <%= link_to '/items/divide?category_id=9' do %>
          <div class="category-link">暖房器具</div>
          <% end %>
        </li>
        <li class="category-list">
          <%= link_to '/items/divide?category_id=10' do %>
          <div class="category-link">コット</div>
          <% end %>
        </li>
        <li class="category-list">
          <%= link_to '/items/divide?category_id=11' do %>
          <div class="category-link">電化製品</div>
          <% end %>
        </li>
        <li class="category-list">
          <%= link_to '/items/divide?category_id=12' do %>
          <div class="category-link">キャンプセット</div>
          <% end %>
        </li>
        <li class="category-list">
          <%= link_to '/items/divide?category_id=13' do %>
          <div class="category-link">その他</div>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="item-category">
      <h2>おすすめのタグ</h2>
      <%# <ul>
       <li class="category-list">
          <div class="category-img">
          </div>
          <div class="category-name">
          </div>
        </li>
        <li class="category-list">
          <div class="category-img">
          </div>
          <div class="category-name">
          </div>
        </li>
        <li class="category-list">
          <div class="category-img">
          </div>
          <div class="category-name">
          </div>
        </li>
        <li class="category-list">
          <div class="category-img">
          </div>
          <div class="category-name">
          </div>
        </li>
      </ul> %>
    </div>
  </div>
</div>
