<div class="item-show-wrapper">
  <div class="item-show">
    <div class="item-image-content">
      <%= image_tag @item.image ,class:"item-box-img" %>
    </div>
    <div class="item-detail-name">
      <%= @item.name %>
    </div>
    <div class="item-description">
      <div class="detail-header">キャンプ用品の説明</div>
      <p class="description-value"><%= @item.description %></p>
    <div class="item-detail-box">
      <div class="detail-header">詳細情報</div>
      <div class="item-detail">
        <div class="detail-title">価格(1泊)</div>
        <div class="detail-value">¥<%= @item.price %></div>
      </div>
      <div class="item-detail">
        <div class="detail-title">出品者</div>
        <div class="detail-value"><%= link_to @item.user.nickname, user_path(@item.user_id) %></div>
      </div>
      <div class="item-detail">
        <div class="detail-title">カテゴリー</div>
        <div class="detail-value"><%= @item.category.name %></div>
      </div>
      <div class="item-detail">
        <div class="detail-title">状態</div>
        <div class="detail-value"><%= @item.condition.name %></div>
      </div>
      <div class="item-detail">
        <div class="detail-title">発送元の地域</div>
        <div class="detail-value"><%= @item.prefecture.name %></div>
      </div>
      <div class="item-detail">
        <div class="detail-title">配送方法</div>
        <div class="detail-value"><%= @item.shipping_method.name %></div>
      </div>
      <div class="item-detail">
        <div class="detail-title">配送料の負担</div>
        <div class="detail-value"><%= @item.cost.name %></div>
      </div>
      <div class="item-detail">
        <div class="detail-title">レンタル可能期間</div>
        <div class="detail-value"><%= @item.start_date %>〜<%= @item.limit_date %></div>
      </div>
          <div class="item-detail-precaution">
        <div class="detail-title">注意事項</div>
        <div class="detail-precaution-value"><%= @item.precaution %></div>
      </div>
    </div>
  </div>
</div>
<div class="rental-btn-contents">
  <% if user_signed_in? && current_user.id == @item.user_id %>
    <%= link_to '編集する', edit_item_path(@item.id), method: :get, class: "edit-item-btn" %>
    <p class='or-text'>or</p>
    <%= link_to '削除する', item_path(@item.id), method: :delete, class:'destroy-item-btn' %>
  <% else %>
    <div class="favorite-item" id="favorite-buttons<%= @item.id %>">
      <%= render partial: 'favorites/favorite', locals: { item: @item } %>
    </div>
    <button type="button" id="rental-btn">
      <span>レンタルする</span>
    </button>
  <% end %>
</div>

<div id="mask" class="hidden"></div>

<div class='form-wrap hidden' id="date-select-modal">
  <div class='date-header'>
    <h2 class='date-header-text'>
      希望の日付を選択してください
    </h2>
  </div>
  <%= form_with model: @order, url: order_item_path(@item.id), method: :post, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>
    <div class="rental-date-select">
      <%= f.date_select :rental_start_date, {}, class: 'rental-date' %>
      <span>〜</span>
      <%= f.date_select :rental_limit_date, {}, class: 'rental-date' %>
    </div>

    <div class='rental-btn'>
      <%= f.submit "レンタルを確定する" ,class:"rental-red-btn" %>
    </div>
  <% end %>
</div>